#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=React
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=obegfjnfbbdhklneecmmegijoichebdj
Icon=chrome-obegfjnfbbdhklneecmmegijoichebdj-Default
StartupWMClass=crx_obegfjnfbbdhklneecmmegijoichebdj
Name[en_US]=React_dcs.desktop
